<div class="d-flex vw-100 vh-100 justify-content-center align-items-center custom-background">
  <div
    class="content border-radius-30 d-flex align-items-center justify-content-start position-absolute z-0 img-background background-container">
    <div class="position-relative h-100 w-75 img-content">
      <div class="contenedor-imagen w-100 h-100 ">
        <img src="assets/imgs/classroom.jpg" style="height: 100.2%" class=" w-100 filter-background">
      </div>
      <!--
            <img src="assets/imgs/classroom.jpg" class="filter-background">
      -->
      <div class="text-overlay w-100 d-flex justify-content-center" style="z-index: 99">
        <h1
          class="title-system very-big-font-size font-Inter-Black text-white w-100 d-flex justify-content-center text-center mt-3">
          Bienvenido al Sistema de Orientación para el Fomento e Integración del Aprendizaje en Señas (SOFIA)
        </h1>
      </div>
      <div class="text-overlay-bottom w-100 d-flex justify-content-start" style="z-index: 99">
        <h1
          class="title-system small-font-size font-Inter-Black text-white w-100 d-flex justify-content-center text-center mt-3">
          CENTRO EDUCATIVO MARISCAL RAMÓN CASTILLA N°1199
        </h1>
      </div>
    </div>
    <main class="d-flex w-25 m-5 h-100 justify-content-center align-items-center form-content background-container">
      <form [formGroup]="form" class="d-flex w-100 flex-column align-items-center justify-content-center p-4">
        <div class="mb-4 w-100 greetings">
          <h2
            class="d-flex justify-content-start big-font-size font-Inter-Black text-center very-big-font-size text-black title-message">
            Hola!
          </h2>
          <h2
            class="d-flex justify-content-start big-font-size font-Inter-Black text-center very-big-font-size text-black title-message">
            {{msg}}
          </h2>
        </div>
        <h2 class="big-font-size font-weight-bold text-center very-big-font-size mb-3 main-color-text">
          Iniciar sesión
        </h2>
        <div class="form-group">
          <label for="user" class="font-Inter-SemiBold text-black">Usuario</label>
          <input type="text" formControlName="email" class="form-control" id="user" autocomplete="off"
                 (input)="validateEmail()">
          <mat-error *ngIf="!stateEmail && !form.get('email')?.pristine"
                     style="margin-top: -20px;width: 180px;">
            <span class="font-Inter-ExtraBold small-font-size">Correo no válido</span>
          </mat-error>
        </div>
        <div class="form-group">
          <label for="password" class="font-Inter-SemiBold text-black">Contraseña</label>
          <input type="password" formControlName="password" class="form-control" id="password" autocomplete="off">
          <div *ngIf="statePassword" class="main-color-text font-Inter-ExtraBold">
            Ingrese contraseña
          </div>
        </div>
        <div class="d-flex justify-content-end custom-size-recover-password mb-3 font-weight-bold">
          <div class="ml-auto">
            <span class="small-font-size cursor-pointer main-color-text" [routerLink]="['/account/password-recovery']">¿Olvidé mi contraseña?</span>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" (click)="login()"
                  class="btn btn-primary text-uppercase main-background font-Inter-Black">
            Ingresar
          </button>
        </div>
        <div class="d-flex justify-content-between pb-3 mt-4 custom-size-create-user font-weight-bold">
          <span class="small-font-size cursor-pointer main-color-text"
                [routerLink]="['/account/sign-up']">Crear cuenta</span>
        </div>
      </form>
    </main>
  </div>
</div>
