@import "../../../assets/css/variables";
.exit-icon{
  top: 0;
  right: 0;
  cursor: pointer;
}
.login-form {
  width: 500px;
}

.form {
  border-radius: 30px;
}

.filter-background {
  height: 100.2%;
  width: 100%;
  margin-left: -1px;
  margin-top: -1px;
  filter: brightness(0.5);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: linear-gradient(180deg,
    rgba(26, 229, 190, 0.4) 0%,
    rgba(0, 0, 0, 0) 40.63%,
    rgba(32, 65, 192, 0.87) 100%);
}

.img-background {

  h1 {
    top: 0;
    width: 75%;
  }
}

.title-system {
  width: 400px !important;
}

.position-relative {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 0; /* Coloca el texto en la parte superior */
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  //background-color: rgba(0, 0, 0, 0.5); /* Opcional: agregar un fondo semi-transparente */
}

.text-overlay-bottom {
  position: absolute;
  bottom: 0; /* Coloca el texto en la parte superior */
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  //background-color: rgba(0, 0, 0, 0.5); /* Opcional: agregar un fondo semi-transparente */
}

.custom-font-size {
  font-size: 19px; /* Ajusta el tamaño de fuente según tus preferencias */
}

.custom-size-recover-password {
  width: 250px;
  margin-top: -15px;
  color: #3498db;
}

.custom-size-create-user {
  color: #3498db;
}

.custom-size-title {
  font-size: 24px;
  color: #3498db;
}

.background-container {
  background-color: #fff; /* Color de fondo gris claro */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.ubication {
  margin-top: -120px;
}

.content {
  width: 95%;
  height: 90%;
  box-shadow: 0 4px 8px rgb(69 3 3 / 78%)
}

.btn-primary:hover {
  background-color: $dark-red-color;
}

.btn-primary {
  border: none;
}

.contenedor-imagen {
  position: relative;
  display: inline-block;
}

.contenedor-imagen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*
  background: linear-gradient(180deg, rgb(183 22 13 / 12%) 0%, rgb(115 18 11 / 16%) 50%, rgb(168 49 41 / 33%) 100%);
  */
  z-index: 1;
}

.contenedor-imagen img {
  display: block;
  width: 100%;
  height: auto;
  z-index: 2;
}

.custom-background {
  background: linear-gradient(180deg, rgb(183 22 13 / 85%) 0%, rgb(115 18 11 / 89%) 50%, rgb(168 49 41) 100%)
}

@media (max-width: 800px) {
  .content {
    justify-content: center !important;
  }
  .img-content {
    width: 100.2% !important;

    .filter-background {
      border-radius: 15px;
      width: 100.2% !important;
    }
  }
  .form-content {
    position: absolute;
    border-radius: 15px;
    z-index: 99;
    height: 350px !important;
    min-width: 50% !important;
    width: max-content !important;
    bottom: 60px;
    margin: 0 !important;

    .greetings {
      display: none;
    }
  }
  .exit-icon{
    margin: 10px!important;
    img{
      width: 30px;
      height: 30px;
    }
  }
}
.title-message{
  font-family: 'Brush Script MT';
  font-weight: bold;
  font-size: 2rem;
  align-content: center
}
.responsive-error {
  width: 100%; /* Hace que el ancho sea el 100% del contenedor padre */
  text-align: left; /* Alinea el texto a la izquierda */
  margin-top: 5px; /* Ajusta el margen superior según sea necesario */
}
