@import "../../assets/css/variables";

.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;

  img {
    width: 70%;
  }
}

.user-info {
  width: 160px;
}

.header {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  position: relative;
}

.logo {
  width: auto;
  height: 80px;

  img {
    width: 100%;
    height: 100%;
  }
}

nav {
  text-decoration: none;
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  min-height: 88vh;
}

.text-decoration-none {
  text-decoration: none;
  color: inherit;
}

.br-rd-btm-left-30-px {
  border-bottom-left-radius: 30px;
}

.login-module {
  li:hover {
    color: $primary-color;
    font-weight: 500;
  }
}

.title-login:hover {
  color: $primary-color;
  font-weight: 500;
}

@media (max-width: 870px) {
  .sophie-app {
    display: none;
  }
}

.photo-items {
  max-height: 80vh;
  overflow: auto;
}

mat-card {
  margin: 20px auto;
}

video {
  width: 100%;
  height: auto;
}

.camera {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instruction {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #555;
}

.video-frame {
  border: 5px solid #11e38a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  height: auto;
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-container {
  margin-top: 1rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.gray-icon {
  color: gray;
}

.green-icon {
  color: #0cb670;
}
