<main class="d-flex justify-content-between">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Video en vivo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="camera">
        <video #localVideo id="localVideo" autoplay></video>
        <video id="remoteVideo" style="display: none" autoplay></video>
      </div>
      <canvas #canvas id="canvas" style="display:none;"></canvas>
      <div id="detectedSign" style="display: none"></div>
      <div class="results">
        <h3 id="title_result">{{ resultTitle }}</h3>
        <p id="content_result">{{ resultContent }}</p>
        <br>
        <p id="accuracy_result">{{ resultAccuracy }}</p>
      </div>
      <button id="captureButton" class="button" (click)="captureAndProcessImage()">Capturar Imagen</button>
    </mat-card-content>
  </mat-card>
  <div class="d-flex flex-column photo-items">
    <div *ngFor="let data of dataCollection"
         [style]="data.icon=='gif' ? 'width: 550px; height:max-content' : 'width: 310px; height:max-content'"
         class="book-content light-gray-background d-flex justify-content-center align-items-center flex-column border-radius-15 mb-3 mx-4 p-3">
      <div class="d-flex w-100 justify-content-center mb-2">
        <div class="big-font-size font-Inter-Semibold text-break fw-900 mt-1 pt-2 px-2">{{ data.name }}</div>
        <div class="align-items-start" style="margin-top: 12px;"
             *ngIf="data.state == '0'">
          <i class="fa-regular fa-circle-check fa-xl gray-icon"></i>
        </div>
        <div class="align-items-start " style="margin-top: 12px;" *ngIf="data.state == '1'">
          <i class="fa-regular fa-circle-check fa-xl green-icon"></i>
        </div>
      </div>

      <img [src]=data.path width="260" *ngIf="data.icon=='png'">
      <img [src]=data.path width="450" *ngIf="data.icon=='gif'">
    </div>
  </div>

</main>
