<div class="light-gray-background p-4 h-auto">
  <div class="card card-body border-radius-15 p-4 h-auto">
    <header class="d-flex card-title font-Inter-Medium pb-3 mb-4 main-color-text too-big-font-size">
      Módulo de comprensión: <span class="link ml-2">{{link}}</span>
    </header>
    <main class="d-flex flex-wrap justify-content-between">
      <div class="book-content light-gray-background align-items-center d-flex flex-column border-radius-15 mb-3 mx-4">
        <span class="big-font-size font-Inter-Semibold flex-wrap text-break fw-900 mt-1 pt-2 px-2">Libro de ejemplo 1</span>
        <img src="assets/imgs/resources/internet.png" width="170">
      </div>
    </main>
  </div>
</div>
