$primary-color: #FFE6CC;
$secondary-color: #D79B00;
$third-color: #F5F5F5;

$red-color: red;
$blue-color: blue;
$green-color: green;
$yellow-color: yellow;
$gray-color: gray;

$primary-font: Inter-Regular;
$very-small-font-size: 8px;
$small-font-size: 12px;
$medium-font-size: 14px;
$big-font-size: 16px;
$very-big-font-size: 18px;

