$primary-color: #d6241b;
$secondary-color: #F5F5F5;
$third-color: #deeb27;

$red-color: #d6241b;
$dark-red-color: #7e0800;
$blue-color: blue;
$sky-blue-color: #2ea9d3;
$green-color: green;
$yellow-color: #deeb27;
$gray-color: #bdbdbd;
$light-gray-color: #d4d4d4;

$primary-font: Inter-Regular;
$very-small-font-size: 8px;
$small-font-size: 12px;
$medium-font-size: 14px;
$big-font-size: 16px;
$very-big-font-size: 18px;
$too-big-font-size: 24px;
