<div class="content">
  <h1 class="font-Inter-SemiBold very-big-font-size d-flex justify-content-center p-4 text-center">Mi
    Recursos adicionales
  </h1>
  <ul class="list-unstyled">
    <li class="mt-2 p-2 d-flex text-center">
      <span [routerLink]="['/modules/comprehension']" class="text-decoration-none cursor-pointer w-100 justify-content-center">Preguntas</span>
    </li>
    <li class="mt-2 p-2 d-flex text-center">
      <span [routerLink]="['/modules/comprehension']" class="text-decoration-none cursor-pointer w-100 justify-content-center">Preguntas</span>
    </li>
  </ul>
</div>
