<div class="content mt-4">
  <ul class="list-unstyled nav-bar">
    <li  class="mt-2 p-2 px-3 d-flex w-100 align-items-center justify-content-between">
      <img src="assets/imgs/modules/icon-question.svg" alt="">
    </li>
    <li  class="mt-2 p-2 px-3 d-flex w-100 align-items-center justify-content-between">
      <img src="assets/imgs/modules/icon-action.svg" alt="">
    </li>
    <li  class="mt-2 p-2 px-3 d-flex w-100 align-items-center justify-content-between">
      <img src="assets/imgs/modules/icon-adjetives.svg" alt="">
    </li>
    <li  class="mt-2 p-2 px-3 d-flex w-100 align-items-center justify-content-between">
      <img src="assets/imgs/modules/icon-home.svg" alt="">
    </li>
  </ul>
</div>

