<div class="content mt-4">
  <ul class="list-unstyled nav-bar">
    <li ngbTooltip="Preguntas" placement="end"
        [ngClass]="{active: getUrl('question')}"
        class="mt-2 p-2 px-3 d-flex w-100 align-items-center justify-content-between">
      <img src="assets/imgs/modules/icon-question.svg" [routerLink]="['/modules/comprehension', 'question']" class="cursor-pointer" alt="">
    </li>
    <li ngbTooltip="Verbos" placement="end"
        [ngClass]="{active: getUrl('verbs')}"
        class="mt-2 p-2 px-3 d-flex w-100 align-items-center justify-content-between">
      <img src="assets/imgs/modules/icon-action.svg" [routerLink]="['/modules/comprehension', 'verbs']" class="cursor-pointer" alt="">
    </li>
    <!--<li ngbTooltip="Adjetivos" placement="end"
        [ngClass]="{active: getUrl('adjetives')}"
        class="mt-2 p-2 px-3 d-flex w-100 align-items-center justify-content-between">
      <img src="assets/imgs/modules/icon-adjetives.svg" [routerLink]="['/modules/comprehension', 'adjetives']" class="cursor-pointer" alt="">
    </li>
    <li ngbTooltip="Artículos del hogar" placement="end"
        [ngClass]="{active: getUrl('utensils')}"
        class="mt-2 p-2 px-3 d-flex w-100 align-items-center justify-content-between">
      <img src="assets/imgs/modules/icon-home.svg" [routerLink]="['/modules/comprehension', 'utensils']" class="cursor-pointer" alt="">
    </li>-->
  </ul>
</div>

