<section class="d-flex justify-content-between header" id="header">
  <div class="logo d-flex align-items-center">
    <div class="d-flex align-items-center mx-3 w-auto h-25">
      <img src="assets/imgs/icon-menu.svg" alt="">
    </div>
    <div class="d-flex logo w-50 align-items-center">
      <img src="assets/imgs/logo.jpg" width="70">
      <span class="ml-3 font-Inter-Black medium-font-size main-color-text">MARISCAL RAMÓN CASTILLA</span>
    </div>
  </div>
  <div class="d-flex user align-items-center p-2 main-background br-rd-btm-left-30-px">
    <div class="d-flex flex-column user-info pl-4 ">
      <span class="font-Inter-semibold medium-font-size text-white flex-wrap mr-3">Nelson David Cueva Jaimes</span>
    </div>
    <div class="circle d-flex align-items-end justify-content-center mr-2 bg-white">
      <img src="assets/imgs/icon-user.svg" style="border-radius: 30%">
    </div>
  </div>
</section>
<div class="d-flex" id="main">
  <nav class="menu d-flex flex-column justify-content-between " id="navbar">
    <div class="content">
      <h1 class="font-Inter-SemiBold very-big-font-size d-flex justify-content-center p-4 text-center">Mi
        aprendizaje</h1>
      <ul class="list-unstyled">
        <li class="mt-2 p-2 d-flex text-center"><a [routerLink]="['/modules/comprehension']"
                                                   class="text-decoration-none cursor-pointer w-100 justify-content-center">Comprensión</a>
        </li>
        <li class="mt-2 p-2 d-flex text-center"><a [routerLink]="['/modules/expression']"
                                                   class="text-decoration-none cursor-pointer w-100 justify-content-center">Expresión</a>
        </li>
        <li class="mt-2 p-2 d-flex text-center"><a [routerLink]="['/modules/comunication']"
                                                   class="text-decoration-none cursor-pointer w-100 justify-content-center">Comunicación</a>
        </li>
        <li class="mt-2 p-2 d-flex text-center"><a [routerLink]="['/resources']"
                                                   class="text-decoration-none cursor-pointer w-100 justify-content-center">Recursos
          adicionales</a></li>
      </ul>
    </div>

    <div class="camera  d-flex justify-content-center">
      <img src="assets/imgs/camera.png" class="cursor-pointer" width="150" (click)="obtenerVideo()">
    </div>
  </nav>
  <div class="w-100" id="content" style="overflow:auto;" *ngIf="!hasSon">
    <router-outlet></router-outlet>
  </div>
  <div class="w-100" id="contentSon" style="overflow:auto;" *ngIf="hasSon">
    <ng-content></ng-content>
  </div>
</div>

