@import "../../../assets/css/variables";

.form{
  border-radius: 30px;
  height: max-content;
}
.border-radius-50{
  border-radius: 50%;
}
.photo{
  width: 150px;
  height: 150px;
  overflow: hidden;
}
/* Estilos para el contenedor del progress bar */
.progress-container {
  width: 100px;
  height: 100px;
  position: relative;
}

/* Estilos para el progress bar circular */
.progress-circle {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 15px solid #3498db; /* Cambia el color de la barra de progreso */
  border-right: 15px solid transparent;
  border-radius: 50%;
}

.w-400{
  width: 400px;
}
.card-title{
  border-bottom: 3px solid ;
  font-weight: 900;
}
.book-content{
  width: 170px;
  span{
    word-break: break-all;
  }
}
main{
  height: max-content;
}
.h-auto{
  min-height: 100%;
}
.circle {
  position: relative; /* Agregamos posición relativa */
  border-radius: 50%;
  width: 170px;
  height: 170px;
  background-color: $light-gray-color;
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
}

.circle img {
  object-fit: contain;
  width: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
  height: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
  position: absolute; /* Hace que la imagen se ajuste al contenedor */
  top: 0; /* Coloca la imagen en la parte superior */
  left: 0; /* Coloca la imagen en la izquierda */
  right: 0; /* Coloca la imagen en la derecha */
  bottom: 0; /* Coloca la imagen en la parte inferior */
}
