<header class="p-4 d-flex justify-content-center w-100 third-background font-Inter-SemiBold">Módulo de Comunicación</header>
<main>
  <section class="p-4 d-flex justify-content-around">
    <span class="third-background font-Inter-SemiBold small-font-size px-4 py-2 border-radius-30">Adverbios</span>
    <span class="third-background font-Inter-SemiBold small-font-size px-4 py-2 border-radius-30">Preposiciones</span>
  </section>
  <section class="d-flex justify-content-around flex-wrap">
    <div class="d-flex flex-column justify-content-center">
      <h3 class="font-Inter-Medium medium-font-size d-flex justify-content-center mb-0">Prueba 1</h3>
      <img src="assets/imgs/modules/defaultImg.png" width="200">
    </div>

    <div class="d-flex flex-column justify-content-center">
      <h3 class="font-Inter-Medium medium-font-size d-flex justify-content-center mb-0">Prueba 1</h3>
      <img src="assets/imgs/modules/defaultImg.png" width="200">
    </div>

    <div class="d-flex flex-column justify-content-center">
      <h3 class="font-Inter-Medium medium-font-size d-flex justify-content-center mb-0">Prueba 1</h3>
      <img src="assets/imgs/modules/defaultImg.png" width="200">
    </div>
    <div class="d-flex flex-column justify-content-center">
      <h3 class="font-Inter-Medium medium-font-size d-flex justify-content-center mb-0">Prueba 1</h3>
      <img src="assets/imgs/modules/defaultImg.png" width="200">
    </div>

  </section>
</main>
<footer></footer>
