<div class="content mt-4">
  <ul class="list-unstyled nav-bar">
    <li ngbTooltip="Adverbios" placement="end"
        [ngClass]="{active: getUrl('adverb')}"
        class="mt-2 p-2 px-3 d-flex w-100 align-items-center justify-content-between">
      <img src="assets/imgs/modules/icon-adverb.svg" [routerLink]="['/modules/comunication', 'adverb']" class="cursor-pointer" alt="">
    </li>
    <li ngbTooltip="Preposiciones" placement="end"
        [ngClass]="{active: getUrl('preposition')}"
        class="mt-2 p-2 px-3 d-flex w-100 align-items-center justify-content-between">
      <img src="assets/imgs/modules/icon-preposition.svg" [routerLink]="['/modules/comunication', 'preposition']" class="cursor-pointer" alt="">
    </li>
  </ul>
</div>
