<div class="content">
  <h1 class="font-Inter-SemiBold very-big-font-size d-flex justify-content-center p-4 text-center">Mi
    Expresión</h1>
  <ul class="list-unstyled">
    <li class="mt-2 p-2 d-flex text-center"><a [routerLink]="['/modules/comprehension']"
                                               class="text-decoration-none cursor-pointer w-100 justify-content-center">Comprensión</a>
    </li>
    <li class="mt-2 p-2 d-flex text-center"><a [routerLink]="['/modules/expression']"
                                               class="text-decoration-none cursor-pointer w-100 justify-content-center">Expresión</a>
    </li>
    <li class="mt-2 p-2 d-flex text-center"><a [routerLink]="['/modules/comunication']"
                                               class="text-decoration-none cursor-pointer w-100 justify-content-center">Comunicación</a>
    </li>
    <li class="mt-2 p-2 d-flex text-center"><a [routerLink]="['/resources']"
                                               class="text-decoration-none cursor-pointer w-100 justify-content-center">Recursos
      adicionales</a></li>
  </ul>
</div>
